[submodule "OfficialResources/resource-stream"]
	path = OfficialResources/resource-stream
	url = https://github.com/cuda-mode/resource-stream.git
[submodule "OfficialResources/lectures"]
	path = OfficialResources/lectures
	url = https://github.com/cuda-mode/lectures.git
